# Core functionality - changes here should be rare!
/src/app.py                   @manojSysCore
/src/backend/database.py      @manojSysCore
/src/backend/routers/auth.py  @manojSysCore

# The frontend will need refactored soon to be more object oriented.
/src/static/   @manojSysCore
